.user-page
    h1 List des utilisateurs
    .user-list
        each student in students 
            .student
                p=`${student.name} ${student.birth}`
                a(href=`/users/delete/${student.name}`, class="delete-link") X
            
    